body {
    margin: 0;
    font-family: "Nova Square", sans-serif;
}

.container {
    margin: 0px 0px;
}

.header {
    background-image: url(bckgr.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 200px;
    display: flex;
    align-items: center;
}

.phone-text {
    color: white;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;

    margin-right: 25px;
}

.header-logo {
    position: relative;
    border-right: 5px solid white;
    padding-right: 15px;
    height: 150px;
    margin-right: 25px;
    margin-left: 25px;
}

.cart-img {
    position: absolute;
    top: 270px;
    right: 310px;
}

.num {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
}